name: Passenger-App

on:
  push:
    branches:
      - "passenger-app"
    tags-ignore:
      - "**"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        passenger-version:
          - 6.0.5
          - 6.0.6
          - 6.0.7
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Set env
      run: echo "TAG_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.CR_PAT }}

    - name: Build and push
      uses: docker/build-push-action@v2
      with:
        context: ./test/passenger-app
        push: true
        build-args: |
          ARG_PASSENGER_VERSION=${{ matrix.passenger-version }}
        labels: |
          org.opencontainers.image.source=${{ github.event.repository.html_url }}
          org.opencontainers.image.url=${{ github.event.repository.html_url }}
        tags: |
          ghcr.io/${{ github.repository }}/passenger-app:${{ matrix.passenger-version }}
